<div class="project-container">
    <img class="image-container" src="{{projectImage}}" alt="project image project: {{name}}">
    <div class="project-info">
        <h3 class="project-title">{{name}}</h3>
        <p class="project-description">{{info}}</p>
        <p class="project-description">{{text}}</p>
    </div>
</div>

