<div class="image-project-info"><img src="{{projectImage}}" alt="project image project: {{name}}"></div>
<div class="project-info">
    <h3 class="project-title">{{name}}</h3>
    <p class="project-description">{{info}}</p>
    <p class="project-description">{{text}}</p>
    <a href="{{githubURL}}" target="_blank" aria-label="Github">
        <i class="fa fa-github"></i>
    </a>
</div>

